acres==0.2.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.14.0
altair==5.2.0
annotated-types==0.6.0
anyio==4.2.0
appnope==0.1.4
asgiref==3.8.1
assemblyai==0.22.0
asttokens==2.4.1
attrs==23.2.0
audioread==3.0.1
Automat==24.8.1
autoscraper==1.1.14
av==11.0.0
backcall==0.2.0
BaseModel==20250109.1826
bcrypt==4.1.3
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
boto3==1.34.52
botocore==1.34.52
bs4==0.0.2
cachetools==5.3.2
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
configobj==5.0.9
configparser==7.1.0
constantly==23.10.4
cors==1.0.1
cryptography==43.0.3
cssselect==1.2.0
ctranslate2==4.0.0
dataclasses-json==0.6.7
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.15
dirtyjson==1.0.8
distro==1.9.0
Django==5.0.7
django-cors-headers==4.4.0
django-ninja==1.2.1
django-tinymce==4.1.0
docopt==0.6.2
etelemetry==0.3.1
executing==2.1.0
extra-streamlit-components==0.1.71
faiss-cpu==1.9.0.post1
fake-useragent==1.5.1
fastapi==0.115.6
faster-whisper==1.0.0
fastjsonschema==2.20.0
feedfinder2==0.0.4
feedparser==6.0.11
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.16.1
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
gevent==24.11.1
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.31.0
googlenewsdecoder==0.1.6
greenlet==3.1.1
h11==0.14.0
html2text==2024.2.26
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
httpx-sse==0.4.0
huggingface-hub==0.20.3
humanfriendly==10.0
hyperlink==21.0.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib-metadata==7.0.1
importlib_resources==6.5.2
incremental==24.7.2
ipython==8.12.3
isodate==0.6.1
itemadapter==0.9.0
itemloaders==1.3.2
jedi==0.19.1
jieba3k==0.35.1
Jinja2==3.1.3
jiter==0.6.1
jmespath==1.0.1
joblib==1.4.2
jsonformatter==0.3.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langsmith==0.2.10
llama-cloud==0.1.8
llama-index==0.12.10
llama-index-agent-openai==0.4.1
llama-index-cli==0.4.0
llama-index-core==0.12.10.post1
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.3
llama-index-llms-openai==0.3.13
llama-index-multi-modal-llms-openai==0.4.2
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.2
llama-index-readers-llama-parse==0.4.0
llama-parse==0.5.19
looseversion==1.3.0
lxml==5.1.0
lxml_html_clean==0.3.1
Mako==1.3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.24.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
newspaper3k==0.2.8
nibabel==5.3.2
nipype==1.9.2
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.17.0
openai==1.59.5
ordereddict==1.1
orjson==3.10.14
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.1
pandocfilters==1.5.1
parsel==1.9.1
parso==0.8.4
pathlib==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.3.6
plotly==5.24.1
proglog==0.1.10
prompt_toolkit==3.0.48
Protego==0.3.1
protobuf==4.25.3
prov==2.0.1
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
pyarrow==15.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck==0.8.1b0
PyDispatcher==2.0.7
pydot==3.0.4
Pygments==2.17.2
PyJWT==2.8.0
PyMuPDF==1.25.1
pyOpenSSL==24.2.1
pyparsing==3.2.1
pypdf==5.1.0
PySocks==1.7.1
pysrt==1.1.2
python-crontab==3.2.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.20
pytrends==4.9.2
pytz==2024.1
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==26.2.0
queuelib==1.7.0
rdflib==6.3.2
referencing==0.33.0
regex==2024.9.11
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
s3transfer==0.10.0
scipy==1.15.0
Scrapy==2.11.2
selectolax==0.3.25
selenium==4.21.0
sentry-sdk==2.9.0
service-identity==24.1.0
sgmllib3k==1.0.0
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.36
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.41.3
streamlit==1.31.1
streamlit-authenticator==0.3.2
stripe==10.3.0
striprtf==0.0.26
sympy==1.12
tenacity==8.2.3
tiktoken==0.8.0
tinycss2==1.4.0
tinysegmenter==0.3
tldextract==5.1.2
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.3
traits==6.4.3
trio==0.25.1
trio-websocket==0.11.1
Twisted==24.7.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
urllib3==2.0.7
uvicorn==0.34.0
validators==0.22.0
vertexai==0.0.1
w3lib==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
wordpress-api==1.2.9
wrapt==1.17.0
wsproto==1.2.0
yarg==0.1.9
yarl==1.9.4
youtube-transcript-api==0.6.2
zipp==3.17.0
zope.event==5.0
zope.interface==7.1.1
